.app.dark {
    --bg-color: #484849;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #f5e701;
    --secondary-color: #ce750f;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;
}
